.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(255, 255, 255);
    width: 50vw;
    height: 300%;
    font-size: 2rem;
    z-index: 10;

}

.menu-lateral--ativo {
    display: none;
}

@media screen and (min-width: 960px) {
    .menu-lateral {
        width: 15vw;
        background-color: rgba(255, 255, 255, 0.5);
    }
}