.cartao {
    background-color: #ffffff;
    width: 250px;
    border: 2px solid #F58815;
    border-radius: 5px;
    padding: 5px;
    height: 300px;
    text-align: center;
    margin: 50px auto;
}

.cartao-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cartao:hover{
    margin: 25px auto;
    width: 300px;
    height: 325px;
    transition: 0.5s;
}

.projetos__conteudo {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    max-width: 1000px;
}

.projetos__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.projetos__link:hover {
    font-weight: 400;
}

.projetos__imagem{
    width: 100%;
}

.projetos__nome{
    font-size: 1.5rem;
}

@media screen and (min-width: 960px){
    .cartao-container{
        flex-direction: row;
    }

    .projetos__conteudo {
        height: 100vh;
    }
}
