body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

.secao {
    padding: 20px 5px 20px 5px;
}

.secao--projetos {
    background: #d0d0d0;
}

.secao__titulo {
    color: #F58815;
    text-align: center;
    font-size: 2rem;
    padding: 20px 10px;
    font-weight: 700;
}
